

*{
    text-transform: capitalize;
    font-family: cursive;
}


body{
       background-color: rgba(227, 255, 251, 0.645);

}

#content{
    display:flex;
    flex-direction: column;
}

.addTaskWrapperClass{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
  

}

.editGroup{
    cursor:pointer;
    box-shadow:1px 1px 9px gray;
    width:fit-content;
    margin:20px;
    display: flex;
    background-color: rgb(163, 249, 249);
    border-radius: 9px;
    transition: all .4s ease-in-out;
    align-items: center;
    margin:12px auto;
}


.msgBtn{
    padding:12px  ; 
    margin: auto 15px;  
}

.btn{
    background-color:rgb(214, 239, 133);
    width:fit-content;;
    margin: auto 9px;
    color:blue;
    border:none;
    border-radius:9px;
    cursor: pointer;
    font:22px;
    box-shadow:1px 1px 9px gray;
    font-weight: 600;
    padding:14px;


}

.btn:active{
    transform:scale(.9);
    box-shadow:1px 1px 4px gray;

}

.hidden{
    display:none
}
.taskWrapper{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

}

.group_wrapper{
    margin:20px 300px;
    box-shadow:1px 1px 9px gray;
    background-color: rgb(245, 250, 215);
    border-radius: 10px;

}

#statusName, #labelName, #titelName, #descName, #idName, #priorityName{
    font-style: italic;
    font-size: 14px;
}

header{
    border-radius:10px;
    padding:20px;
    text-align: center;
    font-size: 1.2rem;
     background-color: #4a7380;
    color:white;

}

.title{
    color:rgb(2, 101, 78);
    word-wrap: break-word;
}

.createTaskButton{
    width:200px;
    border-radius:20px;
    padding:10px;
    margin:30px auto;
    font-size: 20px;
    cursor:pointer;
    border:none;
    box-shadow:1px 1px 9px gray;
    transition: all .1s ease-in-out;
    font-weight: 600;
    background-color: rgb(173, 249, 194);
    color:rgba(10, 133, 49, 0.984)

}

.createTaskButton:active{
    transform:scale(.9);
    box-shadow:1px 1px 4px gray;
}
/* setting the class to this to change the position of the create group button */
.groupadded{
    position:fixed;
    bottom:0;
    left:10px;  
    z-index: 1; 
    opacity:.8;
}

form{
    display: flex;
    padding:20px;
    position:relative
}
form *{
    padding:12px;
    margin:22px;
    border: none;
    border-radius:6px;
}

form button{
     box-shadow:1px 1px 9px gray;
    transition: all .1s ease-in-out;
    font-weight: 600;
    background-color: rgb(173, 249, 194);
    color:rgba(10, 133, 49, 0.984);
    cursor: pointer;
}

form button:active{
    transform:scale(.9);
    box-shadow:1px 1px 4px gray;

}

form input{
     box-shadow:1px 1px 9px gray;
     border:1px solid green;
     }
    
.deleteButton{
    background-color:rgb(246, 119, 119);
    border-radius:5px;
    padding:10px;
    border:none;
    transition: all .1s ease-in-out;
    cursor: pointer;
    color: rgb(123, 3, 3);
    font-weight: 600;
    }

.deleteButton:active{
    transform:scale(.9);
    box-shadow:1px 1px 4px gray;

}

.add_new_btn{
    width:100px;  
    box-shadow:1px 1px 9px gray;
    font-weight: 600;
    background-color: rgb(173, 249, 194);
    color:rgba(10, 133, 49, 0.984);
    margin:10px auto;
    padding:5px;
    transition: all .3s ease-in-out;
    border-radius:9px;
    font-size: xx-large;
    font-weight: 900;
    cursor:pointer;
    border:none;
    text-align: center;
}

.add_new_btn:active{
        transform:scale(.9);
    box-shadow:1px 1px 4px gray;

}

/* Style for the checkStatusMessage */
#checkStatusMessage {
  color: red; 
  font-size: 14px; 
  display: inline-block;
  margin-left: 10px; 
}


      @media only screen and (max-width: 1400px) {

        *{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .addTaskWrapperClass{
        flex-direction: column;
        justify-content: none;
        align-items: none;
        gap: 3px;
        border-top:1px solid rgba(0, 0, 0, 0.178);  
    }

    .taskWrapper{
        width:100%;
        justify-content: flex-start;
        align-items: center;
    }

    form{
        flex-direction: column;
        padding:0;
    }


    form *{
        padding:5px;
        margin:5px;
    }


    .group_wrapper{
    margin:15px;


}

#idName,#titleUi,#descUi,#priorityui{
    font-size: small;
    font-weight: 900;
}

#descUi {
    word-break: break-all;

}

.editGroup{
    font-size: small;
    width:fit-content;
    padding:5px;
}

.editGroup *{
    margin-left: 9px ;
    padding: 0px;
}

.btn{
    font-size: x-small;
    padding:5px;
}

.title{
    font-size:30px;
    padding:20px;
    word-wrap: break-word;
    
}

#header{
    font-size:x-small;
   
}

.createTaskButton{
    width:100px;
    border-radius:20px;
    padding:8px;
    margin:30px auto;
    font-size: 10px;
    cursor:pointer;
    font-weight: 900;

}

.groupadded{

    width:50px;
}



}
